.inputs, label{
	display: inherit; 
	font-size: 15pt;
}
#enter{
	font-size: 15pt;
    margin-left: 47px;
}

form input {
    margin-left: 45px;
    margin-bottom: 15px;
    width:348px;
    text-align: center;
}
form label {
	font-weight: bold;
}
.container{
	width:400px;
	margin: auto;
}
.success {
    border: #0a0 2px double;
    text-align: center;
    padding: 2px;
    margin-bottom: 10px;
    color: #050;
    background-color: #0f0;
}
.failed {
    border: #a00 2px double;
    text-align: center;
    padding: 2px;
    margin-bottom: 10px;
    color: #500;
    background-color: #f00;
}
#progress{
	font-size: 14pt;
	background-color: #050;
    margin-bottom: 15px;
    width: 348px;
    margin-left: 46px;
}
.timing{
    display:flex;
    margin-bottom: 30px;
}
input#stop_clock {
    background-image: url(/images/stopwatch.svg);
    background-color: white;
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
    /*margin-left: 95px;*/
}
input#timer {
    background-image: url(/images/timer.png);
    background-color: white;
    background-size: 60px 60px;
    width: 55px;
    height: 55px;
}
input#stop {
    background-image: url(/images/stop.jpeg);
    background-color: white;
    background-size: 45px 45px;
    width: 45px;
    height: 45px;
    margin:auto;
    margin-top: 4px;
    display: none;
}
#clocks{
    margin: auto;
}