/* Resources Page */
.weblink_list{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 375px;
    font-size: 15px;
}
/* List Pages */
td.sectiontableheader, .componentheading {
    display: none;
}
.contentdescription {
    font-size: 24px;
    font-weight: bold;
    margin:5px;
}
.contentdescription p {
    margin: 15px;
}
tr.sectiontableentry1 td:first-child {
    display: none;
}
tr.sectiontableentry1 td {
    width: 100%;
}
tr.sectiontableentry2 td {
    width: 100%;
}
tr.sectiontableentry2 td:first-child {
    display: none;
}
tr.sectiontableentry1 {
    background-color: #ddd;
    padding: 5px;
}

/* Program Page */
.doc_width{
    text-align: left;
    max-width: 600px;
    margin: auto;
    font-size: 1.3em;
}

/* Home Page */
/* Banner slider */
.mt20 {
    margin-top: 20px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.slick-next:before {
    color: black;
}
.slick-prev:before {
    color: black;
}

/* Banners */
.banner_conntainer h2.contentheading {
    text-align: center;
    font-weight: bold;
}
.article_column{
    width:100%;
 }
.banner_conntainer{
	width: 100%;
}
span.icon_menu {
    font-size: 14px;
    display: block;
}
.banner_text{
	background-color:rgba(255,255,255,0.90);
	background-size: auto 100%;
	float: left; 
	padding: 10px 10px 10px 20px; 
	margin-left: 20%;
	margin-right: 20%;
	min-width: 60%;
    display:table;
	box-shadow: 0px 0px 50px 20px #FFFFFF;
}
.font_larger{
	font-size: 14pt;
}
.banner_image,.banner_conntainer,.banner_text{
	min-height: 500px;
	height:500px;
}
.banner_conntainer h2 {
    font-size: 2.4em;
}
h3.datetime {
    text-align: center;
}
body{
	margin:0px;
	font-family: sans-serif;
}
header{
	/* background:#002266; */
	width:100%;
	height: 150px;
	/* box-shadow: 0px 20px 0px 0px #FFFFFF; */
	/* position: fixed; */
	/* top: -3px; */
	/* left: 0px; */
	/* right: 0px; */
}
footer{
	background:#002266; 
	padding:15px; 
	position: absolute; 
	left:0px; 
	right:0px;
}
h1 {
    font-size: 48px;
    margin: 10px;
    line-height:1em;
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    color: #dd0;
    font-size: 20px;
    margin-left:10px;
    text-align: center;
    line-height:1em;
    font-family: serif;
}
.m10.font15 a{
	color:#ffff00;
}
.m10.font15{
	margin-bottom: 5px;
}
.blog{
	width:100%;
}
/* Footer */
footer h3{
	color:#ffff00;
    text-align:center;
}
footer ul{
	list-style-type:none; 
	margin: 0; 
	padding: 0;
}
input#mod_search_searchword{	
    float: right;
    font-size: large;
    height: 18px;
    padding: 1px;
    background-color: rgba(255,255,255,0.75);
}
.main_body{
    min-width: 200px;
	width: 85%;
	float: right;
}
.main_menu{
	position: absolute;
	top: 150px;
	left:-300px;
	min-width: 200px;
	width: 200px;
	float: left;
	list-style-type:none;
	margin: 0;
	padding: 0;
	z-index: 1;
	font-family: Helvetica,Arial,sans-serif;
	line-height: 1.3em;
	text-align: center;
	border: #026 1px solid;
	border-style: none solid none none;
}
.main_menu li{
  	font-size:17px;
  	padding: 10px;
  	border: 1px solid #026;
  	border-style: none none solid none;
  	background: rgba(255,255,255,0.8);
}
.item84, .main_menu li{
  	color: #026;
}
/* Menu button */
p.item84{
	position: absolute;
    top: 100px;
	font-size: 20px;
	width:200px;
    margin-top:20px;
	text-align: center;
	display:none;
    font-family: sans-serif;
}
.btn {
    text-decoration: none;
    text-align: center;
    background: #002266;
    color: #dd0;
    padding: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-family: sans-serif;
    display: block;
    margin-bottom: 15px;
}
.btn:disabled {
    background-color: #444;
    color: #fff;
}
.item84{
	position: absolute;
    top: 60px;
	font-size: 30px;
	width:75px;
	text-align: center;
}

.grid33{
	width:33%;
}
.footer_grid33{
	width:33%; 
	float:left; 
    text-align:center;
	margin:0px 0px 0px 3px;
}
.horCenter{
	margin-left: auto;
	margin-right: auto;
}
.grid100{
	width:100%;
}
.grid50{
	width:50%;
}
.m10{
	margin:10px;
}
.m20{
	margin:20px;
}
.floatRight{
	float:right;
}
.floatLeft{
	float:left;
}
.clearBoth{
	clear:both;
}
.font15{
	font-size:15px;
}.mb20{
	margin-bottom:20px;
    margin-top: 50px;
}
#wx_module_8643 a{
	color:#ffff00;
}
li, .item84{
	cursor: pointer;
}
.imgHeader{
    background-image: url(/images/NewHeaderBlue8.png);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    height:150px;
    position: fixed;
    top: -10px;
    left: 0px;
    box-shadow: 0px 5px 20px 10px rgba(255,255,255,0.8);
    right: 0px;
    /* margin-top: -3px; */
    z-index: 1;
    -webkit-transition: top 1s; /* Safari */
    transition: top 1s;
}
a.font_larger {
    display: table-row;
}
p.font_larger {
    display: table-cell;
    vertical-align: middle;
}
.logo{
	height:150px;
	margin-left:9%;
	float:left;
}
.text_container {
    float: left;
    margin-left: 70px;
    margin-top: 50px;
    text-shadow: 0 0 10px #026;
    /* background-color: rgba(0,34,104,0.5); */
    /* box-shadow: 0px 0px 20px 10px rgba(0,34,104,0.5); */
}
select {
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 0px;
    height: 27px;
    -webkit-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
    background-position: 100% 50%;
    background-repeat: no-repeat;
}
div#title {
    margin: auto;
    position: relative;
    top: 300px;
    width: 350px;
    padding-top: 30px;
    height: 45px;
    color: #fff;
    font-size: 30pt;
    border: 3px solid #fff;
}
div#seasonal {
    height: 675px;
    margin-top: -150px;
    background-image: url(/images/spring.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
@media only screen and (max-width: 945px) {
 	.footer_grid33{
		width:100%;
  	}
  	.m_top50{
      	margin-top:50px;
	}
}
@media only screen and (max-width: 760px) {
	h1 {
	    font-size: 36px;
	}
	h2 {
	    font-size: 15px;
	}
	.imgHeader, .logo, header{
		height:110px;

	}
    .item84{
		top: 35px;
    }
	.main_menu{
		top: 110px;
	}
	.mt20{
		width:90%;
	}
	.text_container{
		height: 90px;
		margin-top: 25px;
	}
	.banner_text{
		margin-left: 10%;
		margin-right: 10%;
	}
	.banner_image,.banner_conntainer,.banner_text{
		min-height: 500px;
		height: 500px;
	}
}
@media only screen and (max-width: 570px) {
	h1 {
	    font-size: 30px;
	}
	.logo{
		display:none;
	}
	.item84{
		display: block;
	}
	p.item84{
		display:none;
	}
	.text_container{
		/* float: right; */
	}
}