<link rel="stylesheet" type="text/css" href="/css/entry.css">

<form action="/exercisetracker/progress" method="POST">
	<label for="edate">Date</label>
	<input type="date" name="edate" id="date" class="inputs">
	<label for="ttext">Type</label>
	<input type="text" name="ttext" id="ttext" class="inputs">
	<label for="reps">Reps</label>
	<input type="number" name="reps" id="reps" class="inputs">
	<label for="dur">Duration</label>
	<input type="number" name="dur" id="dur" class="inputs">
	<input type="submit" class="btn" id="enter">
</form>

<script type="text/javascript" src="/js/entry.js"></script>