<link rel="stylesheet" type="text/css" href="/css/main.css">
<div class="grid-parent">
	<div class="grid50 left">
		<div class="navs">
			<a class="btn" href="/fundraising/items">
				<span>Item Management</span>
			</a>
		</div>
		<div class="navs">
			<a class="btn" href="/fundraising/inventory">
				<span>Inventory</span>
			</a>
		</div>
		<div class="navs">
			<a class="btn" href="/fundraising/distribution">
				<span>Distribution</span>
			</a>
		</div>
	</div>
	<div class="grid50 right">
		<div class="navs">
			<a class="btn" href="/fundraising/placeorder">
				<span>Order</span>
			</a>
		</div>
		<div class="navs">
			<a class="btn" href="/fundraising/bulkorder">
				<span>Bulk Order</span>
			</a>
		</div>
	</div>
</div>

