<link rel="stylesheet" type="text/css" href="/css/main.css">
<div class="grid-parent">
	<div class="grid50 left">
		<div class="navs">
			<a class="nav_button" href="/fundraising/items">
				<img src="http://www.cubscoutpack97.org/images/itemmanagament.png" width="200"/>
				<span>Item Management</span>
			</a>
		</div>
		<div class="navs">
			<a class="nav_button" href="/fundraising/distribution">
				<img src="http://www.cubscoutpack97.org/images/distribution.jpg" width="200"/>
				<span>Distribution</span>
			</a>
		</div>
	</div>
	<div class="grid50 right">
		<div class="navs">
			<a class="nav_button" href="/fundraising/placeorder">
				<img src="http://www.cubscoutpack97.org/images/placeorder.png" width="200"/>
				<span>Order</span>
			</a>
		</div>
	</div>
</div>